# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_vindom_LEFT
    def_bool $(shields_list_contains,vindom_left)

config SHIELD_vindom_RIGHT
    def_bool $(shields_list_contains,vindom_right)
